<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>dixi_princess@hotmail.com</string>
	<key>artistId</key>
	<integer>424587624</integer>
	<key>artistName</key>
	<string>Time Base Technology Limited</string>
	<key>bundleDisplayName</key>
	<string>GoodNotes</string>
	<key>bundleShortVersionString</key>
	<string>3.10.5</string>
	<key>bundleVersion</key>
	<string>3.10.5</string>
	<key>copyright</key>
	<string>2011 Time Base Technology Limited</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Productivity</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>itemId</key>
	<integer>424587621</integer>
	<key>itemName</key>
	<string>GoodNotes - Notes &amp; PDF</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Time Base Technology Limited</string>
	<key>playlistName</key>
	<string>GoodNotes - Notes &amp; PDF</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2013-11-20T23:56:52Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-04-13T03:11:07Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1866.phobos.apple.com/us/r30/Purple4/v4/c0/0e/87/c00e8791-1915-3b9f-02bb-0e40b8d5303b/Icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.enotetaker.enotetaker</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>85903030</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3495684</integer>
		<integer>3621392</integer>
		<integer>3673440</integer>
		<integer>3711441</integer>
		<integer>3800397</integer>
		<integer>3825143</integer>
		<integer>4017370</integer>
		<integer>4209762</integer>
		<integer>4576804</integer>
		<integer>4613803</integer>
		<integer>4640929</integer>
		<integer>4846563</integer>
		<integer>5274048</integer>
		<integer>5579781</integer>
		<integer>6004565</integer>
		<integer>6742761</integer>
		<integer>7077704</integer>
		<integer>7347895</integer>
		<integer>8455257</integer>
		<integer>8724928</integer>
		<integer>9141073</integer>
		<integer>9897478</integer>
		<integer>10520465</integer>
		<integer>10750233</integer>
		<integer>11189832</integer>
		<integer>11362661</integer>
		<integer>12621672</integer>
		<integer>12916665</integer>
		<integer>12985447</integer>
		<integer>13367661</integer>
		<integer>13393242</integer>
		<integer>14134251</integer>
		<integer>14149444</integer>
		<integer>14885014</integer>
		<integer>15412129</integer>
		<integer>15455508</integer>
		<integer>15491991</integer>
		<integer>15515194</integer>
		<integer>15654148</integer>
		<integer>15704888</integer>
		<integer>46892646</integer>
		<integer>67352637</integer>
		<integer>85903030</integer>
	</array>
	<key>vendorId</key>
	<integer>525432</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
